* {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: url(../assets/map.webp);
  background-repeat: repeat;
  width: auto;
}

img {
  width: 400px;
  height: auto;
}
