* {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: url(../assets/map.webp);
  background-repeat: repeat;
  font-style: italic;
}

.card {
  width: 600px;
  background: rgba(238, 238, 238, 0.7);
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 16px auto;
  padding: 32px;
}

h1,
h3 {
  font-weight: bold;
}

h1 {
  margin-top: 0;
}

img {
  width: 250px;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding-left: 16px;
}
