* {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: url(./assets/map.webp);
  background-repeat: repeat;
}

img {
  width: 400px;
  height: auto;
}
